/*
Theme Name:office master theme
Theme URI: pallab.com
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Our 2015 default theme is clean, blog-focused, and designed for clarity. Twenty Fifteen's simple, straightforward typography is readable on a wide variety of screen sizes, and suitable for multiple languages. We designed it using a mobile-first approach, meaning your content takes center-stage, regardless of whether your visitors arrive by smartphone, tablet, laptop, or desktop computer.
Version: 1.7.8
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: twentyfifteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

*/

.navbar-default .navbar-nav > .current_page_item > a, .navbar-default .navbar-nav > .current_page_item > a:hover, .navbar-default .navbar-nav > .current_page_item > a:focus {
    background-color: #6baaa8;
    color: #fff;
}
.current_page_item {
    background: #74b9b9 none repeat scroll 0 0;
    color: white;
}
.services-group {
    margin-top: 30px;
}
.services-row{
    margin-top: -20px;
}
.label {
    margin: 0 2px;
}
.screen-reader-text {
    display: none;
}
.nav-links{
    border:1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}
.nav-links .page-numbers {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    line-height: 35px;
    float: left;
    width: 35px;
}
.nav-links .page-numbers:first-child{
    border-left: 0 none;
}

.page-numbers.current {
    background: #3399ff none repeat scroll 0 0;
    color: #ffffff;
}
.page-numbers:hover{
  background:#eee none repeat scroll 0 0 ;
}
.blog-title a{
    color: #385a30;
}
img{
    max-width: 100%;
}